---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/customers
    body:
      encoding: UTF-8
      string: email=miranda%40pfeffer.ca&name=Ronald+Grady
    headers:
      Authorization:
      - Bearer <STRIPE_SECRET_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Idempotency-Key:
      - 159aa428-2721-4b6f-8fba-0242ca11dbd1
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - 159aa428-2721-4b6f-8fba-0242ca11dbd1
      Original-Request:
      - req_2FJQwxV6FCOBds
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - '2023-10-16'
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "cus_Q9v0APMRnrNbfC",
          "object": "customer",
          "address": null,
          "balance": 0,
          "created": 1716468900,
          "currency": null,
          "default_source": null,
          "delinquent": false,
          "description": null,
          "discount": null,
          "email": "miranda@pfeffer.ca",
          "invoice_prefix": "1FABF858",
          "invoice_settings": {
            "custom_fields": null,
            "default_payment_method": null,
            "footer": null,
            "rendering_options": null
          },
          "livemode": false,
          "metadata": {},
          "name": "Ronald Grady",
          "next_invoice_sequence": 1,
          "phone": null,
          "preferred_locales": [],
          "shipping": null,
          "tax_exempt": "none",
          "test_clock": null
        }
  recorded_at: Thu, 23 May 2024 12:55:00 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/ephemeral_keys
    body:
      encoding: UTF-8
      string: customer=cus_Q9v0APMRnrNbfC
    headers:
      Authorization:
      - Bearer <STRIPE_SECRET_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Idempotency-Key:
      - df26d940-c53a-42ad-a45d-6e75bd8932fe
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - df26d940-c53a-42ad-a45d-6e75bd8932fe
      Original-Request:
      - req_Bw5lV40pYhemtY
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - '2023-10-16'
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "ephkey_1PJbAeIhR0gIegIeknCWcbUE",
          "object": "ephemeral_key",
          "associated_objects": [
            {
              "id": "cus_Q9v0APMRnrNbfC",
              "type": "customer"
            }
          ],
          "created": 1716468900,
          "expires": 1716472500,
          "livemode": false,
          "secret": "ek_test_YWNjdF8xTGtSb1lJaFIwZ0llZ0llLGpHZnE4c2RNZEtkUWpKTG1yNTVkMFZCUnc4NHl3UDY_00U1Z3E9MD"
        }
  recorded_at: Thu, 23 May 2024 12:55:00 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/setup_intents
    body:
      encoding: UTF-8
      string: customer=cus_Q9v0APMRnrNbfC&automatic_payment_methods[enabled]=true
    headers:
      Authorization:
      - Bearer <STRIPE_SECRET_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Idempotency-Key:
      - b1c6cf17-3648-4185-a513-a99446b6466a
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - b1c6cf17-3648-4185-a513-a99446b6466a
      Original-Request:
      - req_DAXEi870GFhFtg
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - '2023-10-16'
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "seti_1PJbAeIhR0gIegIegWP0cPLQ",
          "object": "setup_intent",
          "application": null,
          "automatic_payment_methods": {
            "allow_redirects": "always",
            "enabled": true
          },
          "cancellation_reason": null,
          "client_secret": "seti_1PJbAeIhR0gIegIegWP0cPLQ_secret_Q9v0pZGHMjfBZXCotj6Pw5ZOdQ8ttfL",
          "created": 1716468900,
          "customer": "cus_Q9v0APMRnrNbfC",
          "description": null,
          "flow_directions": null,
          "last_setup_error": null,
          "latest_attempt": null,
          "livemode": false,
          "mandate": null,
          "metadata": {},
          "next_action": null,
          "on_behalf_of": null,
          "payment_method": null,
          "payment_method_configuration_details": {
            "id": "pmc_1Lsn39IhR0gIegIePcnLvSxO",
            "parent": null
          },
          "payment_method_options": {
            "card": {
              "mandate_options": null,
              "network": null,
              "request_three_d_secure": "automatic"
            }
          },
          "payment_method_types": [
            "card",
            "bancontact",
            "ideal",
            "link",
            "cashapp"
          ],
          "single_use_mandate": null,
          "status": "requires_payment_method",
          "usage": "off_session"
        }
  recorded_at: Thu, 23 May 2024 12:55:00 GMT
recorded_with: VCR 6.2.0
