---
http_interactions:
- request:
    method: get
    uri: https://api.stripe.com/v1/webhook_endpoints
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <STRIPE_SECRET_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2023-10-16'
      X-Wc:
      - AB
    body:
      encoding: UTF-8
      string: |-
        {
          "object": "list",
          "data": [
            {
              "id": "we_1R1ner2ESifGlJezydmoL0st",
              "object": "webhook_endpoint",
              "api_version": null,
              "application": null,
              "created": 1741779669,
              "description": null,
              "enabled_events": [
                "payment_intent.payment_failed",
                "payment_intent.succeeded"
              ],
              "livemode": false,
              "metadata": {},
              "status": "enabled",
              "url": "https://app.vendo.dev/stripe"
            },
            {
              "id": "we_1QqwMZ2ESifGlJezP0GF1ZHz",
              "object": "webhook_endpoint",
              "api_version": null,
              "application": "ca_ROMtxw3OIzmnsWikic1yZQJ7AgMpmdOF",
              "created": 1739191523,
              "description": null,
              "enabled_events": [
                "account.updated"
              ],
              "livemode": false,
              "metadata": {},
              "status": "enabled",
              "url": "https://app.lvh.me/stripe"
            },
            {
              "id": "we_1QqwMY2ESifGlJezzFo7W4xt",
              "object": "webhook_endpoint",
              "api_version": null,
              "application": null,
              "created": 1739191522,
              "description": null,
              "enabled_events": [
                "payment_intent.payment_failed",
                "payment_intent.processing",
                "payment_intent.succeeded"
              ],
              "livemode": false,
              "metadata": {},
              "status": "enabled",
              "url": "https://app.lvh.me/stripe"
            }
          ],
          "has_more": false,
          "url": "/v1/webhook_endpoints"
        }
  recorded_at: Wed, 12 Mar 2025 11:52:51 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/webhook_endpoints
    body:
      encoding: UTF-8
      string: url=https%3A%2F%2Fspreecommerce.org%2Fstripe&enabled_events[0]=payment_intent.payment_failed&enabled_events[1]=payment_intent.succeeded&connect=false
    headers:
      Authorization:
      - Bearer <STRIPE_SECRET_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - becba226-79b1-4e28-8b4e-a7c70d1b159c
      Original-Request:
      - req_NfvZyvtwxdEI47
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - '2023-10-16'
      X-Wc:
      - AB
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "we_1R1nqB2ESifGlJezoq0xxQZT",
          "object": "webhook_endpoint",
          "api_version": null,
          "application": null,
          "created": 1741780371,
          "description": null,
          "enabled_events": [
            "payment_intent.payment_failed",
            "payment_intent.succeeded"
          ],
          "livemode": false,
          "metadata": {},
          "secret": "<SECRET>",
          "status": "enabled",
          "url": "https://spreecommerce.org/stripe"
        }
  recorded_at: Wed, 12 Mar 2025 11:52:52 GMT
[...]
