---
http_interactions:
- request:
    method: get
    uri: https://api.stripe.com/v1/webhook_endpoints
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <STRIPE_SECRET_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2023-10-16'
      X-Wc:
      - AB
    body:
      encoding: UTF-8
      string: |-
        {
          "object": "list",
          "data": [
            {
              "id": "we_1R1nqB2ESifGlJezoq0xxQZT",
              "object": "webhook_endpoint",
              "api_version": null,
              "application": null,
              "created": 1741780371,
              "description": null,
              "enabled_events": [
                "payment_intent.payment_failed",
                "payment_intent.succeeded"
              ],
              "livemode": false,
              "metadata": {},
              "status": "enabled",
              "url": "https://spreecommerce.org/stripe"
            },
            {
              "id": "we_1R1ner2ESifGlJezydmoL0st",
              "object": "webhook_endpoint",
              "api_version": null,
              "application": null,
              "created": 1741779669,
              "description": null,
              "enabled_events": [
                "payment_intent.payment_failed",
                "payment_intent.succeeded"
              ],
              "livemode": false,
              "metadat[...]
- request:
    method: post
    uri: https://api.stripe.com/v1/webhook_endpoints
    body:
      encoding: UTF-8
      string: url=https%3A%2F%2Fspreecommerce.org%2Fstripe&enabled_events[0]=payment_intent.payment_failed&enabled_events[1]=payment_intent.succeeded&connect=false
    headers:
      Authorization:
      - Bearer <STRIPE_SECRET_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - 073c4727-eac8-4c0f-8ecf-c450650e802e
      Original-Request:
      - req_yipgiOYSIYkjJP
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - '2023-10-16'
      X-Wc:
      - AB
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "we_1R1oWr2ESifGlJezJiMj8Viz",
          "object": "webhook_endpoint",
          "api_version": null,
          "application": null,
          "created": 1741783017,
          "description": null,
          "enabled_events": [
            "payment_intent.payment_failed",
            "payment_intent.succeeded"
          ],
          "livemode": false,
          "metadata": {},
          "secret": "<SECRET>",
          "status": "enabled",
          "url": "https://spreecommerce.org/stripe"
        }
  recorded_at: Wed, 12 Mar 2025 12:36:57 GMT
[...]
