---
http_interactions:
- request:
    method: get
    uri: https://api.stripe.com/v1/webhook_endpoints
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <STRIPE_SECRET_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2023-10-16'
      X-Wc:
      - AB
    body:
      encoding: UTF-8
      string: |-
        {
          "object": "list",
          "data": [
            {
              "id": "we_1R68OqFgg8qhioDXoDVW3bSF",
              "object": "webhook_endpoint",
              "api_version": null,
              "application": "ca_LByFvh914Xalmcl3Um4pByXHajw7AGZB",
              "created": 1742812712,
              "description": null,
              "enabled_events": [
                "account.updated"
              ],
              "livemode": false,
              "metadata": {},
              "status": "enabled",
              "url": "https://app.lvh.me/stripe"
            },
            {
              "id": "we_1R68OoFgg8qhioDXIMFjgJJM",
              "object": "webhook_endpoint",
              "api_version": null,
              "application": null,
              "created": 1742812710,
              "description": null,
              "enabled_events": [
                "payment_intent.payment_failed",
                "payment_intent.succeeded",
                "setup_intent.succeeded"
              ],
              "livem[...]
- request:
    method: post
    uri: https://api.stripe.com/v1/webhook_endpoints
    body:
      encoding: UTF-8
      string: url=https%3A%2F%2Fspreecommerce.org%2Fstripe&enabled_events[0]=payment_intent.payment_failed&enabled_events[1]=payment_intent.succeeded&enabled_events[2]=setup_intent.succeeded&connect=false
    headers:
      Authorization:
      - Bearer <STRIPE_SECRET_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - 9229fc61-926d-4c55-961a-2c1515a39a31
      Original-Request:
      - req_xWw9WuhPumgFVh
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - '2023-10-16'
      X-Wc:
      - AB
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "we_1R68qVFgg8qhioDX8hQVp09k",
          "object": "webhook_endpoint",
          "api_version": null,
          "application": null,
          "created": 1742814427,
          "description": null,
          "enabled_events": [
            "payment_intent.payment_failed",
            "payment_intent.succeeded",
            "setup_intent.succeeded"
          ],
          "livemode": false,
          "metadata": {},
          "secret": "<SECRET>",
          "status": "enabled",
          "url": "https://spreecommerce.org/stripe/"
        }
  recorded_at: Mon, 24 Mar 2025 11:07:07 GMT
[...]
