---
http_interactions:
- request:
    method: get
    uri: https://api.stripe.com/v1/webhook_endpoints
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <STRIPE_SECRET_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2023-10-16'
      X-Wc:
      - AB
    body:
      encoding: UTF-8
      string: |-
        {
          "object": "list",
          "data": [
            {
              "id": "we_1R1nqB2ESifGlJezoq0xxQZT",
              "object": "webhook_endpoint",
              "api_version": null,
              "application": null,
              "created": 1741780371,
              "description": null,
              "enabled_events": [
                "payment_intent.payment_failed",
                "payment_intent.succeeded"
              ],
              "livemode": false,
              "metadata": {},
              "status": "enabled",
              "url": "https://spreecommerce.org/stripe"
            },
            {
              "id": "we_1R1ner2ESifGlJezydmoL0st",
              "object": "webhook_endpoint",
              "api_version": null,
              "application": null,
              "created": 1741779669,
              "description": null,
              "enabled_events": [
                "payment_intent.payment_failed",
                "payment_intent.succeeded"
              ],
              "livemode": false,
              "metadat[...]
[...]
