---
http_interactions:
- request:
    method: get
    uri: https://api.stripe.com/v1/webhook_endpoints
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <STRIPE_SECRET_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2023-10-16'
      X-Wc:
      - AB
    body:
      encoding: UTF-8
      string: |-
        {
          "object": "list",
          "data": [
            {
              "id": "we_1R68qVFgg8qhioDX8hQVp09k",
              "object": "webhook_endpoint",
              "api_version": null,
              "application": null,
              "created": 1742814427,
              "description": null,
              "enabled_events": [
                "payment_intent.payment_failed",
                "payment_intent.succeeded",
                "setup_intent.succeeded"
              ],
              "livemode": false,
              "metadata": {},
              "status": "enabled",
              "url": "https://spreecommerce.org/stripe/"
            },
            {
              "id": "we_1R68OqFgg8qhioDXoDVW3bSF",
              "object": "webhook_endpoint",
              "api_version": null,
              "application": "ca_LByFvh914Xalmcl3Um4pByXHajw7AGZB",
              "created": 1742812712,
              "description": null,
              "enabled_events": [
                "account.updated"
              ],
              "livemode": false,
              "metadata": {},
              "s[...]
[...]
- request:
    method: post
    uri: https://api.stripe.com/v1/webhook_endpoints
    body:
      encoding: UTF-8
      string: url=http%3A%2F%2Fspreecommerce.org%3A3000%2Fapi%2Fv3%2Fwebhooks%2Fpayments%2Fpm_UkLWZg9DAJ&enabled_events[0]=payment_intent.payment_failed&enabled_events[1]=payment_intent.succeeded&enabled_events[2]=setup_intent.succeeded&connect=false
    headers:
      Authorization:
      - Bearer <STRIPE_SECRET_KEY>
      Idempotency-Key:
      - 93c49c00-9c81-419a-a2f9-cd8446bdff43
      Stripe-Version:
      - '2023-10-16'
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - 93c49c00-9c81-419a-a2f9-cd8446bdff43
      Original-Request:
      - req_vnEVM8LgWen9AF
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - '2023-10-16'
      X-Wc:
      - ABGHIJ
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "we_1TAo7D2ESifGlJezqJgSzMOX",
          "object": "webhook_endpoint",
          "api_version": null,
          "application": null,
          "created": 1773479051,
          "description": null,
          "enabled_events": [
            "payment_intent.payment_failed",
            "payment_intent.succeeded",
            "setup_intent.succeeded"
          ],
          "livemode": false,
          "metadata": {},
          "secret": "whsec_FILTERED",
          "status": "enabled",
          "url": "http://spreecommerce.org:3000/api/v3/webhooks/payments/pm_UkLWZg9DAJ"
        }
  recorded_at: Sat, 14 Mar 2026 09:04:11 GMT
recorded_with: VCR 6.4.0
