---
http_interactions:
- request:
    method: get
    uri: https://api.stripe.com/v1/payment_intents/pi_3SATi7IhR0gIegIe1HSm8pUl
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <STRIPE_SECRET_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2023-10-16'
      X-Wc:
      - ABGHIJ
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "pi_3SATi7IhR0gIegIe1HSm8pUl",
          "object": "payment_intent",
          "amount": 1999,
          "amount_capturable": 0,
          "amount_details": {
            "tip": {}
          },
          "amount_received": 1999,
          "application": null,
          "application_fee_amount": null,
          "automatic_payment_methods": {
            "allow_redirects": "always",
            "enabled": true
          },
          "canceled_at": null,
          "cancellation_reason": null,
          "capture_method": "automatic",
          "client_secret": "pi_3SATi7IhR0gIegIe1HSm8pUl_secret_iYNSQaY2Ok3Wnm4RwFd9z7Gut",
          "confirmation_method": "automatic",
          "created": 1758624279,
          "currency": "usd",
          "customer": "cus_T6h6dN295VBqyK",
          "description": null,
          "excluded_payment_method_types": null,
          "invoice": null,
          "last_payment_error": null,
          "latest_charge": "ch_3SATi7IhR0gIegIe15Tl8Rm3",
          "livemode": false,
          "metadata": {
            "spree_order_id": "164"
          },
          "next_action": null,
          "on_behalf_of": null,
          "payment_method": "pm_1SATicIhR0gIegIed5wlgYNQ",
          "payment_method_configuration_details": {
            "id": "pmc_1Lsn39IhR0gIegIePcnLvSxO",
            "parent": null
          },
          "payment_method_options": {
            "afterpay_clearpay": {
              "reference": null
            },
            "card": {
              "installments": null,
              "mandate_options": null,
              "network": null,
              "request_three_d_secure": "automatic",
              "setup_future_usage": "off_session"
            },
            "cashapp": {},
            "klarna": {
              "preferred_locale": null
            },
            "link": {
              "persistent_token": null
            }
          },
          "payment_method_types": [
            "card",
            "afterpay_clearpay",
            "klarna",
            "link",
            "cashapp"
          ],
          "processing": null,
          "receipt_email": null,
          "review": null,
          "setup_future_usage": null,
          "shipping": {
            "address": {
              "city": "Atlanta",
              "country": "US",
              "line1": "4250 South Fulton Parkway",
              "line2": null,
              "postal_code": "30349",
              "state": "GA"
            },
            "carrier": null,
            "name": "a a",
            "phone": null,
            "tracking_number": null
          },
          "source": null,
          "statement_descriptor": null,
          "statement_descriptor_suffix": "4 Cut",
          "status": "succeeded",
          "transfer_data": null,
          "transfer_group": "73098869"
        }
  recorded_at: Thu, 16 Oct 2025 14:45:59 GMT
- request:
    method: get
    uri: https://api.stripe.com/v1/charges/ch_3SATi7IhR0gIegIe15Tl8Rm3
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <STRIPE_SECRET_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2023-10-16'
      X-Wc:
      - ABGHIJ
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "ch_3SATi7IhR0gIegIe15Tl8Rm3",
          "object": "charge",
          "amount": 1999,
          "amount_captured": 1999,
          "amount_refunded": 0,
          "application": null,
          "application_fee": null,
          "application_fee_amount": null,
          "balance_transaction": "txn_3SATi7IhR0gIegIe1VBbBpSu",
          "billing_details": {
            "address": {
              "city": "Atlanta",
              "country": "US",
              "line1": "4250 South Fulton Parkway",
              "line2": null,
              "postal_code": "30349",
              "state": "GA"
            },
            "email": "random982h89dn@niepodam.pl",
            "name": "a a",
            "phone": null,
            "tax_id": null
          },
          "calculated_statement_descriptor": "VENDO* 4 CUT",
          "captured": true,
          "created": 1758624311,
          "currency": "usd",
          "customer": "cus_T6h6dN295VBqyK",
          "description": null,
          "destination": null,
          "dispute": null,
          "disputed": false,
          "failure_balance_transaction": null,
          "failure_code": null,
          "failure_message": null,
          "fraud_details": {},
          "invoice": null,
          "livemode": false,
          "metadata": {
            "spree_order_id": "164"
          },
          "on_behalf_of": null,
          "order": null,
          "outcome": {
            "advice_code": null,
            "network_advice_code": null,
            "network_decline_code": null,
            "network_status": "approved_by_network",
            "reason": null,
            "risk_level": "normal",
            "risk_score": 13,
            "seller_message": "Payment complete.",
            "type": "authorized"
          },
          "paid": true,
          "payment_intent": "pi_3SATi7IhR0gIegIe1HSm8pUl",
          "payment_method": "pm_1SATicIhR0gIegIed5wlgYNQ",
          "payment_method_details": {
            "card": {
              "amount_authorized": 1999,
              "authorization_code": "605526",
              "brand": "visa",
              "checks": {
                "address_line1_check": "pass",
                "address_postal_code_check": "pass",
                "cvc_check": "pass"
              },
              "country": "US",
              "exp_month": 3,
              "exp_year": 2033,
              "extended_authorization": {
                "status": "disabled"
              },
              "fingerprint": "M6vkpQQdgpsZZvYj",
              "funding": "debit",
              "incremental_authorization": {
                "status": "unavailable"
              },
              "installments": null,
              "last4": "5556",
              "mandate": null,
              "multicapture": {
                "status": "unavailable"
              },
              "network": "visa",
              "network_token": {
                "used": false
              },
              "network_transaction_id": "775411810711281",
              "overcapture": {
                "maximum_amount_capturable": 1999,
                "status": "unavailable"
              },
              "regulated_status": "unregulated",
              "three_d_secure": null,
              "wallet": null
            },
            "type": "card"
          },
          "radar_options": {},
          "receipt_email": null,
          "receipt_number": null,
          "receipt_url": "https://pay.stripe.com/receipts/payment/CAcaFwoVYWNjdF8xTGtSb1lJaFIwZ0llZ0llKKiKxMcGMgYjRlwbrSE6LBbM2XqKNqkr5ra4x-znqjcICP07q8su9vyWLNOpUYyHi59hXjMa305uRy9s",
          "refunded": false,
          "review": null,
          "shipping": {
            "address": {
              "city": "Atlanta",
              "country": "US",
              "line1": "4250 South Fulton Parkway",
              "line2": null,
              "postal_code": "30349",
              "state": "GA"
            },
            "carrier": null,
            "name": "a a",
            "phone": null,
            "tracking_number": null
          },
          "source": null,
          "source_transfer": null,
          "statement_descriptor": null,
          "statement_descriptor_suffix": "4 Cut",
          "status": "succeeded",
          "transfer_data": null,
          "transfer_group": "73098869"
        }
  recorded_at: Thu, 16 Oct 2025 14:46:00 GMT
[...]
- request:
    method: post
    uri: https://api.stripe.com/v1/payment_methods/pm_1SATicIhR0gIegIed5wlgYNQ/attach
    body:
      encoding: UTF-8
      string: customer=cus_T6h6dN295VBqyK
    headers:
      Authorization:
      - Bearer <STRIPE_SECRET_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - 88c1e389-9af6-45bd-96e3-7b43f3415fa6
      Original-Request:
      - req_w6a0znxT6sSNIV
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - '2023-10-16'
      X-Wc:
      - ABGHIJ
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "pm_1SATicIhR0gIegIed5wlgYNQ",
          "object": "payment_method",
          "allow_redisplay": "unspecified",
          "billing_details": {
            "address": {
              "city": "Atlanta",
              "country": "US",
              "line1": "4250 South Fulton Parkway",
              "line2": null,
              "postal_code": "30349",
              "state": "GA"
            },
            "email": "random982h89dn@niepodam.pl",
            "name": "a a",
            "phone": null,
            "tax_id": null
          },
          "card": {
            "brand": "visa",
            "checks": {
              "address_line1_check": "pass",
              "address_postal_code_check": "pass",
              "cvc_check": "pass"
            },
            "country": "US",
            "display_brand": "visa",
            "exp_month": 3,
            "exp_year": 2033,
            "fingerprint": "M6vkpQQdgpsZZvYj",
            "funding": "debit",
            "generated_from": null,
            "last4": "5556",
            "networks": {
              "available": [
                "visa"
              ],
              "preferred": null
            },
            "regulated_status": "unregulated",
            "three_d_secure_usage": {
              "supported": true
            },
            "wallet": null
          },
          "created": 1758624310,
          "customer": "cus_T6h6dN295VBqyK",
          "livemode": false,
          "metadata": {},
          "type": "card"
        }
  recorded_at: Thu, 16 Oct 2025 14:46:01 GMT
recorded_with: VCR 6.3.1
