---
http_interactions:
- request:
    method: get
    uri: https://api.stripe.com/v1/payment_intents/pi_3Qd7ay2ESifGlJez0iSw49k1
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <STRIPE_SECRET_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2023-10-16'
      X-Wc:
      - AB
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "pi_3Qd7ay2ESifGlJez0iSw49k1",
          "object": "payment_intent",
          "amount": 4500,
          "amount_capturable": 0,
          "amount_details": {
            "tip": {}
          },
          "amount_received": 4500,
          "application": null,
          "application_fee_amount": null,
          "automatic_payment_methods": {
            "allow_redirects": "always",
            "enabled": true
          },
          "canceled_at": null,
          "cancellation_reason": null,
          "capture_method": "automatic",
          "client_secret": "pi_3Qd7ay2ESifGlJez0iSw49k1_secret_gqmeUMdUCpTEfYfnrAY4sQmKx",
          "confirmation_method": "automatic",
          "created": 1735898108,
          "currency": "usd",
          "customer": null,
          "description": null,
          "invoice": null,
          "last_payment_error": null,
          "latest_charge": "ch_3Qd7ay2ESifGlJez0nHOMyky",
          "livemode": false,
          "metadata": {
            "spree_order_id": "8015bcbe-4b15-4c03-be7f-01fc68e4515c"
          },
          "next_action": null,
          "on_behalf_of": null,
          "payment_method": "pm_1Qd7gw2ESifGlJezAFFb1XOr",
          "payment_method_configuration_details": {
            "id": "pmc_1QVa9x2ESifGlJezRC5fgLVg",
            "parent": null
          },
          "payment_method_options": {
            "afterpay_clearpay": {
              "reference": null
            },
            "card": {
              "installments": null,
              "mandate_options": null,
              "network": null,
              "request_three_d_secure": "automatic",
              "setup_future_usage": "off_session"
            },
            "klarna": {
              "preferred_locale": null
            },
            "link": {
              "persistent_token": null
            }
          },
          "payment_method_types": [
            "card",
            "afterpay_clearpay",
            "klarna",
            "link"
          ],
          "processing": null,
          "receipt_email": null,
          "review": null,
          "setup_future_usage": null,
          "shipping": {
            "address": {
              "city": "San Francisco",
              "country": "US",
              "line1": "100 California Street",
              "line2": null,
              "postal_code": "94111",
              "state": "CA"
            },
            "carrier": null,
            "name": "John Doe",
            "phone": null,
            "tracking_number": null
          },
          "source": null,
          "statement_descriptor": null,
          "statement_descriptor_suffix": "R194145369 John Doe",
          "status": "succeeded",
          "transfer_data": null,
          "transfer_group": "R194145369"
        }
  recorded_at: Fri, 03 Jan 2025 10:04:31 GMT
- request:
    method: get
    uri: https://api.stripe.com/v1/charges/ch_3Qd7ay2ESifGlJez0nHOMyky
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <STRIPE_SECRET_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2023-10-16'
      X-Wc:
      - AB
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "ch_3Qd7ay2ESifGlJez0nHOMyky",
          "object": "charge",
          "amount": 4500,
          "amount_captured": 4500,
          "amount_refunded": 0,
          "application": null,
          "application_fee": null,
          "application_fee_amount": null,
          "balance_transaction": "txn_3Qd7ay2ESifGlJez0F1yjnPN",
          "billing_details": {
            "address": {
              "city": "San Francisco",
              "country": "US",
              "line1": "100 California Street",
              "line2": null,
              "postal_code": "94111",
              "state": "CA"
            },
            "email": "john.doe+ah12gdsdf4@gmail.com",
            "name": "John Doe",
            "phone": null
          },
          "calculated_statement_descriptor": "ABCDEF ABC* R194145369",
          "captured": true,
          "created": 1735898479,
          "currency": "usd",
          "customer": null,
          "description": null,
          "destination": null,
          "dispute": null,
          "disputed": false,
          "failure_balance_transaction": null,
          "failure_code": null,
          "failure_message": null,
          "fraud_details": {},
          "invoice": null,
          "livemode": false,
          "metadata": {
            "spree_order_id": "8015bcbe-4b15-4c03-be7f-01fc68e4515c"
          },
          "on_behalf_of": null,
          "order": null,
          "outcome": {
            "advice_code": null,
            "network_advice_code": null,
            "network_decline_code": null,
            "network_status": "approved_by_network",
            "reason": null,
            "risk_level": "normal",
            "risk_score": 1,
            "seller_message": "Payment complete.",
            "type": "authorized"
          },
          "paid": true,
          "payment_intent": "pi_3Qd7ay2ESifGlJez0iSw49k1",
          "payment_method": "pm_1Qd7gw2ESifGlJezAFFb1XOr",
          "payment_method_details": {
            "card": {
              "amount_authorized": 4500,
              "authorization_code": null,
              "brand": "visa",
              "checks": {
                "address_line1_check": "pass",
                "address_postal_code_check": "pass",
                "cvc_check": "pass"
              },
              "country": "US",
              "exp_month": 2,
              "exp_year": 2028,
              "extended_authorization": {
                "status": "disabled"
              },
              "fingerprint": "taGjeBd4Wh4btmTn",
              "funding": "credit",
              "incremental_authorization": {
                "status": "unavailable"
              },
              "installments": null,
              "last4": "4242",
              "mandate": null,
              "multicapture": {
                "status": "unavailable"
              },
              "network": "visa",
              "network_token": {
                "used": false
              },
              "network_transaction_id": "116977110610166",
              "overcapture": {
                "maximum_amount_capturable": 4500,
                "status": "unavailable"
              },
              "regulated_status": "unregulated",
              "three_d_secure": null,
              "wallet": null
            },
            "type": "card"
          },
          "radar_options": {},
          "receipt_email": null,
          "receipt_number": null,
          "receipt_url": "https://pay.stripe.com/receipts/payment/CAcaFwoVYWNjdF8xUVZhOWsyRVNpZkdsSmV6KK_s3rsGMgYtrlYKPA86LBb9V5BVhdRFNy9-e9oyNZXv8qbVsxZoIQ_v4CI6bR6q34mN2vhm1hxcXLVG",
          "refunded": false,
          "review": null,
          "shipping": {
            "address": {
              "city": "San Francisco",
              "country": "US",
              "line1": "100 California Street",
              "line2": null,
              "postal_code": "94111",
              "state": "CA"
            },
            "carrier": null,
            "name": "John Doe",
            "phone": null,
            "tracking_number": null
          },
          "source": null,
          "source_transfer": null,
          "statement_descriptor": null,
          "statement_descriptor_suffix": "R194145369 John Doe",
          "status": "succeeded",
          "transfer_data": null,
          "transfer_group": "R194145369"
        }
  recorded_at: Fri, 03 Jan 2025 10:04:32 GMT
[...]
