<% if quick_checkout_enabled?(@order) && current_stripe_gateway.present? && current_stripe_payment_intent.present? %>
  <div id="quick-checkout" class="<%= defined?(container_class) ? container_class : nil %>">
    <%= tag.div class: 'w-full', data: {
        controller: 'checkout-stripe-button',
        checkout_stripe_button_target: 'container',
        checkout_stripe_button_api_key_value: current_stripe_gateway.try(:preferred_publishable_key),
        checkout_stripe_button_order_token_value: @order.token,
        checkout_stripe_button_client_secret_value: current_stripe_payment_intent.client_secret,
        checkout_stripe_button_currency_value: @order.currency.downcase,
        checkout_stripe_button_amount_value: @order.display_total_minus_store_credits.cents,
        checkout_stripe_button_available_countries_value: available_countries_iso.as_json,
        checkout_stripe_button_gift_card_code_value: @order.respond_to?(:gift_card) ? @order.gift_card&.code : nil,
        checkout_stripe_button_gift_card_amount_value: @order.respond_to?(:gift_card_total) ? @order.gift_card_total : nil,
        checkout_stripe_button_border_radius_value: theme_setting(:button_border_radius),
        checkout_stripe_button_height_value: defined?(height) ? height : nil,
        checkout_stripe_button_theme_value: defined?(theme) ? theme : nil,
        checkout_stripe_button_max_rows_value: defined?(max_rows) ? max_rows : nil,
        checkout_stripe_button_max_columns_value: defined?(max_columns) ? max_columns : nil,
        checkout_stripe_button_button_width_value: defined?(button_width) ? button_width : nil,
        checkout_stripe_button_checkout_path_value: spree.api_v2_storefront_checkout_path,
        checkout_stripe_button_checkout_advance_path_value: spree.advance_api_v2_storefront_checkout_path,
        checkout_stripe_button_checkout_select_shipping_method_path_value: spree.select_shipping_method_api_v2_storefront_checkout_path,
        checkout_stripe_button_checkout_validate_gift_card_data_path_value: respond_to?(:validate_gift_card_data_api_v2_storefront_checkout_path) ? spree.validate_gift_card_data_api_v2_storefront_checkout_path : nil,
        checkout_stripe_button_checkout_validate_order_for_payment_path_value: spree.validate_order_for_payment_api_v2_storefront_checkout_path,
        checkout_stripe_button_return_url_value: spree.stripe_payment_intent_url(current_stripe_payment_intent),
        checkout_stripe_button_shipping_required_value: @order.respond_to?(:quick_checkout_require_address?) ? @order.quick_checkout_require_address? : true,
        checkout_stripe_button_phone_required_value: Spree::Config[:address_requires_phone]
      } do %>
      <div id="payment-request-button"></div>

      <div class="relative group-[.no-separator]:hidden flex pt-5 items-center ">
        <div class="flex-grow border-t border-default"></div>
        <span class="flex-shrink mx-4 text-gray-500 text-sm">
          <%= Spree.t('storefront.checkout.or_continue_below') %>
        </span>
        <div class="flex-grow border-t border-default"></div>
      </div>
    <% end %>
  </div>
<% end%>
